{% extends 'layout.html' %}
{% block content %}
<div class="col-lg-6 col-md-6 col-sm-12 ">
    <form method="POST">
    <!---------------------------------------Select Diet--------------------------------------------------->
            <select id="diet" name="diet" class="form-control custom-select custom-select-lg mt-3" required>
                {% for diet in diets %}
                    <option value="{{ diet.dietID }}">{{ diet.diet_name }}</option>
                {% endfor %}
            </select>

    <!---------------------------------------Select Food--------------------------------------------------->
        <select id="foods" name="foods" class="custom-select custom-select-sm mt-3" required>
            {% for food in foods %}
                <option value="{{ food.foodID }}">{{ food.food_name }}</option>
            {% endfor %}
            </select>
    <!---------------------------------------Submit Button--------------------------------------------------->
            <input type="submit" class="btn btn-info btn-lg mt-2" value="Add">
    </form>
</div>
<!---------------------------------------Showing Diets--------------------------------------------------->
<div class="row m-2">
{% for diet in diets %} <!-- the range is set up so that the cards appear 3 columns per row -->
    <div class="col-sm-4 py-1">
        <div class="card h-100">
            <div class="card-body text-left">
                <h5 class="card-title">{{ diet.diet_name }}</h5>
                Food:
                {% for food in diet.foods %}
                    {% if food == diet.foods[-1] %}
                        {{ food.food_name }} <!--({{ food.calories }})-->.
                    {% else %}
                        {{ food.food_name }} <!--({{ food.calories }} kcal)-->,
                    {% endif %}
                {% endfor %}
                <hr>
                <p class="card-text text-left">{{ diet.description }} this is just a long paragraph to see if everything is working perfectly, QA QA QA AQ AQ AQ</p>
                <div class="float-right">
                    <button type="button" class="btn btn-outline-warning btn-sm">Edit</button>
                    <a href="/diets/delete/{{ diet.dietID }}" class="btn btn-outline-danger btn-sm"
                    onclick="return confirm('Are you sure you want to delete {{ diet.diet_name }}?')">Delete</a>
                </div>
                <!-- need make a pop up for card and add button to delete card -->
            </div>
        </div>
    </div>
{% endfor %}
</div>

{% endblock %}
