{% extends "layout.html" %}
{% block content %}
<div class="jumbotron mt-2">
    <h1 class="display=4">Get started with a diet plan</h1>
    <p class="lead">A diet plan can help you live a healthier life style, keep you in shape or make you gain that little extra mass that you always wanter.</p>
    <hr class="my-4">
    <p> Get started by creating your diet today, wether it is a meat free, pescetarian (i.e. fish only) or full vegan diet. Start feeling good about your food consumption</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Create diet</a>
</div>

<div class="row m-5">
{% for index in range(0,len) %} <!-- the range is set up so that the cards appear 3 columns per row -->
    <div class="col-sm-4 mb-4">
        <div class="card">
            <div class="card-body text-left">
                <h5 class="card-title">{{ diets[index][0] }}</h5>
                <p class="card-text text-left">{{ diets[index][1] }} this is just a long paragraph to see if everything is working perfectly, QA QA QA AQ AQ AQ</p>
                <div class="float-right">
                    <button type="button" class="btn btn-outline-info btn-sm btn-ml">View Diet</button>
                    <button type="button" class="btn btn-outline-warning btn-sm">Edit</button>
                    <button type="button" class="btn btn-outline-danger btn-sm">Delete</button>
                </div>
                <!-- need make a pop up for card and add button to delete card -->
            </div>
        </div>
    </div>
{% endfor %}
</div>


{% endblock %}
